.row{:style => "margin-bottom: 20px"}
  .span5#headline
    %h1 Mumbai   
    %h2
      You can't fly to work, but we've got the next best thing.
    %h3
      Simply leave us your commute details and we'll arrange for you a
      %span.highlight door-to-door 
      bus with
      %span.highlight guaranteed seating
      ,
      %span.highlight flexible timings
      &amp;
      %span.highlight your level of luxury.
    %h3
      %a{:href => "/faq"} get more info here
  .span7{:style => "display: table"}
    #new_form{:style => "display: table-cell; vertical-align: middle;"}
      = render 'intended_trips/form'
.row
  %ul.thumbnails
    %li.span4
      = image_tag 'gps.png'
      %h2
        GPS on every bus
      Wait for your bus in the comfort of your home or office, and be alerted as it approaches
    %li.span4
      = image_tag 'qrcode.png'
      %h2
        Book your seat with your mobile
      Running late? No problem. Just let us know that you'll need a seat on a later bus.
    %li.span4
      = image_tag 'bus-icon.png'
      %h2
        Enjoy stress free commutes
      in a modern and safe environment. Save money, save the earth and stay dry!

.row#pricing
  %h1 plans and pricing
    
  %h2
    %span.highlight
      Rs. 5,000
    per month for 
    %span.highlight
      a/c bus
    and
    %span.highlight
      Rs. 3,000
    per month for
    %span.highlight
      non a/c
  for trips less than 80 kms round trip. We are working on our routing algorithms that will allow us to offer cheaper trips based on the distance, but for
  the moment, kindly bear with us as we refine our pricing.

  %p 
    %h2 See how our pricing compares with other modes of transport
  %p
    %table.table
      %thead
        %tr
          %th mode of commute
          %th monthly cost
          %th comfort
          %th safety
      %tr
        %td BEST
        %td 600
        %td 1
        %td 9
      %tr
        %td train + rickshaw
        %td 1000
        %td 1
        %td 3
      %tr
        %td motorcycle
        %td 1500
        %td 3
        %td 1
      %tr
        %td rickshaw
        %td 3000
        %td 2
        %td 2
      %tr{:style => "background: lightgreen"}
        %td rBus non-a/c
        %td 3000
        %td 6
        %td 9
      %tr{:style => "background: lightgreen"}
        %td rBus a/c
        %td 5000
        %td 9
        %td 9
      %tr
        %td self driven car
        %td 12000
        %td 6
        %td 7
      %tr
        %td chauffeur-driven car
        %td 20000
        %td 9
        %td 7
  
  
          
        
          
        
          
          
  
            
  