.row{:style => "vertical-align: bottom"}
  .span6
    #headline
      %h1
        %span.highlight.bigger
          = @intended_trips.count
        commutes registered
  .span2{:style => "vertical-align: middle"}
    %h1.btn.btn-success.button
      = link_to '+', new_intended_trip_path

= render 'intended_trips/list'
