%h1 Listing intended_trips

%table
  %tr
    %th
    %th
    %th

  - @intended_trips.each do |intended_trip|
    %tr
      %td= link_to 'Show', intended_trip
      %td= link_to 'Edit', edit_intended_trip_path(intended_trip)
      %td= link_to 'Destroy', intended_trip, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Intended trip', new_intended_trip_path
