%script{:type => "text/javascript" , :src => "http://maps.googleapis.com/maps/api/js?key=#{Yetting.maps}&sensor=false"}
:javascript
  function initialize() {
    var myOptions = {
      center: new google.maps.LatLng(19.1, 72.9),
      zoom: 11,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map"),
    myOptions);
  }

  function load_trips() {
    $.get('/intended_trips.json', function(data) {
      $.each(data, function() { 
        // draw the line
        lat1 = parseFloat(this.from_lat);
        lng1 = parseFloat(this.from_lng);
        lat2 = parseFloat(this.to_lat);
        lng2 = parseFloat(this.to_lng);
        p = new google.maps.Polyline( {
          path: [ new google.maps.LatLng(lat1,lng1), 
                  new google.maps.LatLng(lat2, lng2)],
          strokeColor: "#ff0000",
          strokeWeight: 1
        });
        p.setMap(map);
        new google.maps.Marker({
          map: map,
          position: new google.maps.LatLng(lat1, lng1),
          icon: '/images/mm_20_green.png'
        })
        new google.maps.Marker({
          map: map,
          position: new google.maps.LatLng(lat2, lng2),
          icon: '/images/mm_20_red.png'
        })

      });
    });
  }

  $(document).ready(function() { 
    initialize();
    load_trips();
  });

#map.map{:style => "width:800px; height: 500px"}
