
%h1 Register a New Commute
%h3
  Having trouble registering? 
  %a{:href => "http://www.screenr.com/U9f8", :target => "_blank"}
    See this small video
  
.row
  .span6
    = render 'form'
  .span6
    #map{:style => "width: 100%; height: 500px;"}
