@import url(http://fonts.googleapis.com/css?family=Chango);
@import url(http://fonts.googleapis.com/css?family=Fredoka+One);
@import url(http://fonts.googleapis.com/css?family=Play);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

html, body {
  height: 100%;
}

h1 {
  margin-bottom: 5px;
  font-family: 'Play', Helvetica;
}

.navbar {
  .brand {
    font-family: 'Chango', Helvetica;
    color: orange;
    font-size: 30px;
    padding-left: 10%;
  }
}

#main {
  margin-top: 60px;
}

.label {
  font-size: 16px;
  background: none;
  color: black;
}

html {
 height: 100%;
}
body {
  //background: #7bc7df url(/assets/sky_bg.jpg) no-repeat left top;
  background-size: 100%;

}
  
#headline {
  font-family: 'Fredoka One';  
  padding-top: 1em;
  h1 {
      font-size: 3em;
      font-weight: normal;
  }
  h2 { 
    font-size: 2em;
    line-height: 1em;
    margin: 10px 0px;
    font-weight: normal;
    a {
      font-weight: bold;
    }
  }
  h3 {
    font-weight: normal;
    font-family: Play, Helvetica;
    a {
      font-weight: bolder;
      font-size: 1.2em;
    }
  }
}

#new_form {
  form {
  }
}

.highlight {
  color: darkorange;
  font-weight: bold;
}

label {
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  width: 180px;
}

.bigger {
  font-size: 1.2em;
}


#form {
  background: rgba(196,226,235,0.5);
  border-radius: 10px;
  padding: 20px;
  float: left;
  box-shadow: 2px 2px 4px rgb(123,147,153);;
  input {
    margin-bottom: 9px;
  }

}

.button {
  font-size: 2em;
  font-weight: bolder;
  color: #333;
  border: solid 1px #999;
  border-radius: 5px;
  float: left;
  a {
    color: white;
    font-size: 2.5em;
    line-height: 0.5em;
  }
  a:hover {
    text-decoration: none;
  }
}

ul.thumbnails {
  li {
    font-size: 1.2em;
    text-align: justify;
    margin-left: 40px;
    img {
      float: left;
      padding-right: 10px;
      padding-bottom: 20px;
    }
    h2 {
      line-height: 1em;
      font-family: Helvetica;
      font-weight: 300;
    }
  }
}

.scribble {
  font-family: 'Shadows Into Light';
  color: blue;
}

#pricing {
  font-size: 1.5em;
  line-height: 1.1em;
  .highlight {
    color: blue;
  }
}

.faq {
  font-size: 1.5em;
  line-height: 1.1em;
  margin: 20px;
  ul {
    font-size: 0.9em;
    line-height: 1.1em;
  }		
}

ul.ui-autocomplete {
  list-style: none;
  width: 370px;
}

#wrap {
  min-height:100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  color:#fff;
} 

.map {
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(123,147,153);
  img {
    max-width: none;
  }
}   

#map {
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(123,147,153);
  img {
    max-width: none;
  }
}   


#demo2_map {
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(123,147,153);
  img {
    max-width: none;
  }
}   

.green {
  color: green;
}

.red {
  color: red;
}
