<p>Welcome <%= @resource.email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>
  <h2>What happens next?</h2>
  Once you confirm your email, you can keep track of interest in your
  particular route by visiting <a href="http://rbus.in">your profile page</a>. Once we
  get up to about 10 or 15 users, we can start offering you options for
  your commute.

  You can help expedite the process by spreading the word far and wide
  in your social network.
</p>
<p>
  <b> Help us build a commuter-driven transportation system for
  Mumbai </b>
</p>

sincerely,
Team rBus
