.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{ "data-toggle".to_sym => "collapse", "data-target".to_sym => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %h1
        %a.brand{:href => '/'} 
          rbus.in
      %ul.nav.nav-pills
        - if current_user
          %li
            %a{:href => '/intended_trips/my'}My Trips
        %li
          %a{:href => "http://blog.rbus.in"} Blog
      %p.navbar-text.pull-right
        - if current_user
          #{current_user.email} 
          |
          = link_to "Logout",destroy_user_session_path, :method => "delete", :data => {:confirm => "Are you sure you want to log out?"}
        - else 
          = link_to "Login", new_user_session_path, :class => "btn btn-info"
        %a.btn{:href => "#", :onclick => "javascript:$('#feedback').toggle()"}
          feedback
