.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{ "data-toggle".to_sym => "collapse", "data-target".to_sym => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %h1
        %a.brand{:href => '/'} 
          rbus.in
      %ul.nav.nav-pills
        %li
          %a{:href => '/intended_trips/my'}My Trips
        %li
          %a{:href => '/faq'}FAQ
        %li
          %a{:href => '/about'}About
      %p.navbar-text.pull-right
        - if current_user
          %a{:href => "/user/" << current_user.email.to_s << "/dashboard"} #{current_user.email} 
          |
          = link_to "Logout",destroy_user_session_path, :method => "delete", :confirm => "Are you sure you want to log out?"
        - else 
          = link_to "Login", new_user_session_path, :class => "btn btn-info"
